<ion-view>
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item item-divider">
            {{listtitle}}
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" collection-repeat="elem in data" ng-href="{{href}}{{elem._id}}">
                <i class="icon ion-android-restaurant"></i>
                <h2>{{elem.getMain()}}</h2>
                <p>{{elem.getSub()}}</p>
                <table><tr><td ng-repeat="i in elem.getEchelle() track by $index"><i style="float: left" class="icon-left ion-social-usd"></i></td></tr></table>  
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-balanced" ng-click="call()"> 
                    <i class="icon ion-ios-telephone"></i>
                </ion-option-button>
                <ion-option-button class="button-positive" ng-click="mail()"> 
                    <i class="icon ion-ios-email"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
