<ion-tabs class="tabs-icon-top tabs-color-active-calm">

    <ion-tab title="Wifi" icon-off="ion-wifi" icon-on="ion-wifi" href="#/tab/wifi">
        <ion-nav-view name="tab-wifi"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Poubelle" icon-off="ion-ios-trash-outline" icon-on="ion-ios-trash" href="#/tab/garbage">
        <ion-nav-view name="tab-garbage"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Restaurant" icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" href="#/tab/restaurant">
        <ion-nav-view name="tab-restaurant"></ion-nav-view>
     </ion-tab>
        
    <ion-tab title="Stationnements" icon-off="ion-android-car" icon-on="ion-android-car" href="#/tab/parking">
        <ion-nav-view name="tab-parkings"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Événements" icon-off="ion-android-calendar" icon-on="ion-android-calendar" href="#/tab/event">
        <ion-nav-view name="tab-events"></ion-nav-view>
    </ion-tab>

</ion-tabs>
